<a routerLink="/intra/profil" class="profil"><span class="material-icons">person</span></a>
<aside>
    <nav>
        <ul>
            <li>
                <a routerLink="/intra">
                    <span class="material-icons">home</span>
                    Accueil</a>
            </li>
            <li>
                <a routerLink="/intra/capteurs">
                    <span class="material-icons">display_settings</span>
                    Données kits</a>
            </li>
            <li>
                <a routerLink="/intra/kits">
                    <span class="material-icons">memory</span>
                    Kits</a>
            </li>
            <li>
                <a routerLink="/intra/programmes">
                    <span class="material-icons">format_color_fill</span>
                    Programmes</a>
            </li>
            <li>
                <a routerLink="/intra/machines">
                    <span class="material-icons">ac_unit</span>
                    Machines</a>
            </li>
        </ul>
    </nav>
</aside>
<section>
    <router-outlet></router-outlet>
</section>