<h1>Plateforme de visualisation des données Kit Eco Cooling</h1>
<section>
    <article class="bg-sombre">
        <p>Cet espace est dédié à la gestion des kits et la visualisation de leurs données. Vous pourrez :
            <ul>
                <li>Gérer les kits installés</li>
                <li>Visualiser les données des kits</li>
                <li>Editer les caractéristiques des machines bénéficiant des kits</li>
                <li>Gérer les abonnements et notifications</li>
            </ul>
    </article>
</section>