<h1>Données des kits</h1>
<header class="bg-sombre">
    <form class="ligne rowauto" (submit)="getCapteursData()">
        <fieldset>
            <label>Sélectionner un kit</label>
            <select name="kit" [(ngModel)]="filtres.kit" (change)="setKit(filtres.kit)">
                <option value="">Tous</option>
                @for(kit of c.kits; track kit.id){
                    <option [value]="kit.id">{{ kit.id }} - {{ kit.client }}</option>
                }
            </select>
        </fieldset>
        <fieldset>
            <label>Date de début</label>
            <input type="datetime-local" name="debut" [(ngModel)]="filtres.debut" min="2025-07-14T00:00">
        </fieldset>
        <fieldset>
            <label>Date de fin</label>
            <input type="datetime-local" name="fin" [(ngModel)]="filtres.fin" min="2025-07-14T00:00">
        </fieldset>
        <fieldset class="ligne">
            <button type="reset">Annuler</button>
            <button type="submit">Rechercher</button>
        </fieldset>
    </form>

</header>
<h2>Courbes des données captées
    @if(c.kit) { (<em>kit sélectionné : {{ c.kit.id }} - {{ c.kit.client }}</em>) }
</h2>
<section class="charts">
    <article>
        <canvas id="chartLignes">{{ lineChart }}</canvas>
    </article>
</section>
<section class="cartel">
    <article>
        <h3>Durées cumulées</h3>
        <div>
            <div>
                <span class="material-icons">directions_run</span>
                <p>La machine a fonctionné</p>
                <h4>{{ durees.fonctionnement | duree }}</h4>
            </div>
            <div>
                <span class="material-icons">directions_walk</span>
                <p>La machine était arretée</p>
                <h4>{{ durees.arret | duree }}</h4>
            </div>
            <div>
                <span class="material-icons">run_circle</span>
                <p>Temps global pris en compte</p>
                <h4>{{ filtres.time_debut | duree:filtres.time_fin }}</h4>
            </div>
        </div>
    </article>
    <article>
        <h3>Consommations électriques</h3>
        <div>
            <div>
                <span class="material-icons">electric_meter</span>
                <p>Approximation en kWh</p>
                <h4>{{ durees.fonctionnement | conso:c.kit?.machine }}</h4>
            </div>
        </div>
    </article>
</section>