<h1>Gérer les kits @if(!edit && !kit){
    <a (click)="addKit()" class="position-droite">
        <span class="material-icons">add</span>
    </a>}
</h1>
@if((edit=='edit' || edit=='add') && kit) {
<header class="lightbox">
    <form [@apparait]="(edit=='edit' || edit=='add')  && kit" class="bg-sombre" (submit)="upKit()">
        <a class="close croix" (click)="annule()"></a>
        <h2>Créer / modifier un kit</h2>
        <article class="horizon">
            <div class="ligne">
                <fieldset>
                    <label>Identifiant</label>
                    <input name="id" [(ngModel)]="kit.id" required>
                </fieldset>
                <fieldset>
                    <label>Client</label>
                    <input name="client" [(ngModel)]="kit.client">
                </fieldset>
                <fieldset>
                    <label>Type de machine</label>
                    <select name="idMachine" [(ngModel)]="kit.idMachine">
                        <option disabled>Machine aspergée</option>
                        @for(mach of c.machines; track $index){
                        <option [value]="mach.id">{{ mach.id }} ({{ mach.annee }} - {{ mach.gaz }})</option>
                        }
                    </select>
                </fieldset>
            </div>
            <div class="ligne">
                <fieldset>
                    <label>Etat d'urgence du kit</label>
                    <div class="ligne">
                        <label>Aspersion autorisée
                        <input name="urgence" type="radio" [value]="0" [(ngModel)]="kit.params.urgence"></label>
                        <label>Aspersion interdite
                        <input name="urgence" type="radio" [value]="1" [(ngModel)]="kit.params.urgence"></label>
                    </div>
                </fieldset>
                <fieldset>
                    <label>Sélection d'un programme d'aspersion</label>
                    <select name="programme" (change)="setProgramme(programme)" #programme>
                        <option disabled>Programmes</option>
                        @for(conf of c.configs; track $index){
                            <option [value]=`${conf.duree}:${conf.cycles}:${conf.interval}:${conf.tempo}`>{{ conf.duree }} : {{ conf.cycles }} : {{ conf.interval }} : {{ conf.tempo }}</option>
                        }
                        <!-- <option value="0">1 (1, 1, 20, 12)</option>
                        <option value="1">2 (2, 5, 10, 10)</option>
                        <option value="2">3 (3, 1, 18, 1)</option>
                        <option value="3">4 (2, 1, 10, 1)</option>
                        <option value="4">5 (3, 1, 20, 1)</option>
                        <option value="5">6 (5, 1, 20, 1)</option>
                        <option value="6">7 (3, 10, 21, 1)</option>
                        <option value="7">8 (3, 1, 8, 1)</option>
                        <option value="8">9 (5, 2, 10, 10)</option> -->
                    </select>
                </fieldset>
            </div>
            <div class="ligne">
                <fieldset>
                    <label>Adresse</label>
                    <input name="adresse" [(ngModel)]="kit.adresse">
                </fieldset>
                <fieldset>
                    <label>Code postal</label>
                    <input name="codepostal" type="number" [(ngModel)]="kit.codePostal">
                </fieldset>
                <fieldset>
                    <label>Ville</label>
                    <input name="ville" [(ngModel)]="kit.ville">
                </fieldset>
            </div>
            <div class="ligne">
                <fieldset>
                    <label>Latitude</label>
                    <input name="lat" type="number" [(ngModel)]="kit.geo.lat">
                </fieldset>
                <fieldset>
                    <label>Longitude</label>
                    <input name="lon" type="number" [(ngModel)]="kit.geo.lon">
                </fieldset>
            </div>
            <fieldset class="ligne">
                <button type="reset" (click)="annule()">Annuler</button>
                <button type="submit">Valider</button>
            </fieldset>
        </article>
    </form>
</header>
}
@if(edit=='del' && kit) {
<header class="lightbox">
    <article [@apparait]="edit=='del' && kit" class="bg-sombre centre">
        <a class="close croix" (click)="annule()"></a>
        <p>Voulez-vous vraiment supprimer ce kit ?</p>
        <div class="ligne">
            <button (click)="annule()">Annuler</button>
            <button (click)="c.deleteKit(kit.id)">Supprimer</button>
        </div>
    </article>
</header>
}
@if(c.kits && c.kits.length > 0) {
<section>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>client</th>
                <th>Machine</th>
                <th>urgence</th>
                <th>programme<br><small>(duree : cycles : intervalle : tempo)</small></th>
                <th>adresse</th>
                <th>ville</th>
                <th>Code postal</th>
                <th>Date de mise en service</th>
                <th>Abonnement</th>
                <th>Géolocalisation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(kit of c.kits; track $index){
            <tr>
                <td>{{ kit.id }}</td>
                <td>{{ kit.client }}</td>
                <td>@if(kit.idMachine) { {{ kit.idMachine | machine:c.machines }} }</td>
                <td>@if(kit.params.urgence && kit.params.urgence > 0){
                    <span class="material-icons">warning</span>
                }@else { <span class="material-icons">check</span>}</td>
                <td>{{ kit.params.config }}</td>
                <td>{{ kit.adresse }}</td>
                <td>{{ kit.ville }}</td>
                <td>{{ kit.codePostal }}</td>
                <td>{{ kit.creation | toDate }}</td>
                <td>@if(kit.abonnement && kit.abonnement > 0){ <span class="material-icons">card_membership</span> }
                </td>
                <td>@if(kit.geo && kit.geo.lat && kit.geo.lon){<a
                        href="http://www.openstreetmap.org/#map=16/{{ kit.geo.lat }}/{{ kit.geo.lon }}"
                        target="_blank"><span class="material-icons">map</span></a>}</td>
                <td>
                    <div class="ligne">
                        <button (click)="editKit(kit)"><span class="material-icons">edit</span></button>
                        <button (click)="delKit(kit)"><span class="material-icons">delete_forever</span></button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
}