@media screen and (min-width:1201px) {}

@media screen and (max-width:1200px) {
    app-root main {}

    .lightbox>*:nth-child(1) {
        max-width: 100%;
    }

    form div.ligne {
        flex-flow: row wrap;
    }

    aside li {
        margin: 3px !important;
    }
}

@media screen and (max-width:1160px) {}

@media screen and (max-width:890px) {
    .cartel {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width:700px) {
    app-accueil {
        flex-flow: column nowrap !important;
    }

    app-accueil>aside {
        width: 100vw !important;
        align-self: center;
        margin-top: 30px;
        font-size: 80%;
    }
    app-accueil>aside>nav>ul {
        width: 100vw !important;
        justify-content: space-around;
        flex-flow: row nowrap !important;
    }

    app-accueil>section {
        width: 100vw !important;
        padding: 0 !important;
    }

    app-accueil>section section {
        padding: 0 !important;
    }

    .logo {
        margin: 0;
    }
}

@media screen and (max-width:560px) {}

@media screen and (max-width:490px) {}